{%  extends 'store/main.html' %}

{% block content %}

	<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Customer:</h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="">Update Customer</a>
			<a class="btn btn-outline-danger  btn-sm btn-block" href="">Delete Customer</a>

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Contact Information</h5>
			<hr>
			<p><b>Customer Name</b>: {{request.user.customer.name}}</p>
			<p><b>Customer Email: </b>{{request.user.customer.email}}</p>
			<p><b>Customer Address: </b>{{address.address}}</p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Total Orders</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{order_count}}</h1>
		</div>
	</div>
</div>


<br>
<div class="row">
	<div class="col">
		<div class="card card-body">

			<form method="get">
				{{myFilter.form}}

		    <button class="btn btn-primary" type="submit">Searchyyyp</button>
		  </form>

		</div>
	</div>

</div>
<br>




<div style="overflow-x:auto;">
    <h5>ALL ORDERS</h5>
		<hr>
 <table class="table table-sm">
     <thead>
				<tr>
					<th>Date Ordered</th>
					<th>Transaction ID</th>
					<th>Product</th>
					<th>Quantity</th>
					<th>Cost</th>
					<th>Tax Paid</th>
					<th>Order Status</th>
					<th>Paid</th>
					<th>Customer Name</th>


				</tr>
</thead>

{% for i in iorders %}
					<tr>                        <td>{{i.order.date_ordered}}</td>
												<td>{{i.order.transaction_id}}</td>
												<td>{{i.product}}</td>
												<td>{{i.quantity }}</td>
												<td>{% widthratio i.quantity 1 2 %}</td>
												<td>{% widthratio i.quantity 1 0.1 %}</td>
                                                <td>{{i.order.status}}</td>
												<td>{{i.order.complete}}</td>
												<td>{{i.order.customer.name}}</td>











						{% endfor %}

</table>

</div>
	</div>
{% endblock %}