{%  extends 'store/main.html' %}
{% block content %}
<style>
  .hello-msg{
    font-size: 18px;
    color: #328fa8;
    margin-right: 20px;
  }
</style>

<span class="hello-msg">Hello, {{request.user}}</span>
<br>
{%  include 'store/status.html' %}

<br>


<div style="overflow-x:auto;">
    <h5>ALL ORDERS</h5>
		<hr>
 <table class="table table-sm">
     <thead>
				<tr>
					<th>Date Ordered</th>
					<th>Product</th>
					<th>Transaction ID</th>
					<th>Customer</th>
					<th>Order Status</th>
					<th>Paid</th>
					<th>Update</th>
					<th>Delete</th>

				</tr>
</thead>

{% for i in iorders %}
					<tr>                        <td>{{i.order.date_ordered}}</td>
												<td>{{i.product}}</td>
                                                <td>{{i.order.transaction_id}}</td>
												<td>{{i.order.customer}}</td>
												<td>{{i.order.status}}</td>
												<td>{{i.order.complete}}</td>
													<td><a class="btn btn-sm btn-info" href="{% url 'update_order' i.order.id %}">Update</a></td>

						<td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' i.order.id %}">Delete</a></td>








						{% endfor %}

</table>

</div>








{% endblock %}
