{% extends 'store/main.html' %}
{% load static %}
{% block content %}








		<div class="table table-condensed">
     <table class="table table-sm table-success table-bordered">
         <thead class="thead-dark">
               <tr>

      <th scope="col">Scientific Name</th>
      <th scope="col">Common Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Form</th>



      </tr>
  </thead>


        {% for product in products %}
            <tr>
           <td>{{product.name}}</td><td>{{product.sname}}</td><td><button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button></td><td><a class="btn btn-outline-success"
            <a href="/{{ product.id }}/">view</a></td>
            <td></tr></td
        {% endfor %}
     </table>



        </div>

	</div>

{% endblock content %}
