{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<style>
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>






		     <table table id="customers"> 
         <thead>
               <tr>

      <th scope="col"style="text-align:center" >Scientific Name</th>
      <th scope="col"style="text-align:center">Common Name</th>
      <th scope="col" style="text-align:center">Quantity in Stock</th>
      <th scope="col"style="text-align:center" >Add Plant to Cart</th>
     


      </tr>
  </thead>


        {% for product in products %}
            <tr>
           <td><a href="/{{ product.id }}/"><img  id="cart-icon" src="{% static 'images/details.png' %}">{{ product.name }}</a></td><td>{{product.sname}}</td><td style="text-align:center">{{product.id}}
            </td><td style="text-align:center"><button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart"> Add to Cart </button></td></tr>
        {% endfor %}
     </table>


        </div>

	</div>

{% endblock content %}